<h1>activity</h1>
<div class="bar">
  <input type="text" placeholder="What's on your mind?" /><button>Post</button>
</div>

<div ng-repeat="act in activity track by $id(act)">
  {{act.status}}
</div>


